<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h1 class="text-center mt-5 mb-4">Update Student</h1>
				<form action="/students/update" method="post">

                    <div class="mb-3">
                        <label for="sid">Student id:</label>
						<input id="sid" name="sid" class="form-control form-control-lg" 
                        th:value="${stu.sid}" readonly>
					</div>

					<div class="mb-3">
                        <label for="name">Name:</label>
						<input type="text" id="name" name="name" class="form-control form-control-lg" 
                        th:value="${stu.name}">
					</div>

                    <div class="mb-3">
                        <label for="weight">Weight:</label>
						<input type="number" id="weight" name="weight" class="form-control form-control-lg" 
                        th:value="${stu.weight}" required min="0">
					</div>

					<div class="mb-3">
                        <label for="height">Height:</label>
						<input type="number" id="height" name="height" class="form-control form-control-lg" 
                        th:value="${stu.height}" required min="0">
					</div>

					<div class="mb-3">
						<label for="hairColor">Hair Color:</label>
						<input type="color" id="hairColor" name="hairColor" class="form-control form-control-lg" 
                        th:value="${stu.hairColor}">
					</div>

					<div class="mb-3">
                        <label for="gpa">GPA:</label>
						<input type="text" pattern="[0-9]+(\.[0-9]+)?" id="gpa" name="gpa" class="form-control form-control-lg" 
                        th:value="${stu.gpa}">
					</div>


					<!-- Submit button -->
                    
                    <div class="d-grid gap-2 mb-3">
                        <input class="btn btn-primary" type="submit" value="Update"></input>
                    </div>
					<a class="d-grid gap-2" href="/home.html">
						<button type="button" class="btn btn-primary">RETURN TO HOME</button>
					</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>